.Dashboard {
    display: flex;
    height: 100vh;
}

section {
    flex: 1;
    width: 100%;
    padding: 0 1.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
    margin-left: 275px;
}

.sectionCollapsed {
    margin-left: 65px;
}

/* Loading Container */
.loadingContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainContent {
    flex: 1;
    margin-top: 135px;
    overflow-y: auto;
}

.mainContent::-webkit-scrollbar {
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width:100%;
    z-index: 9999;
}