.header {
    padding: 2rem 3rem;
    width: 94%;
    max-height: 100px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    display: flex;
    align-items: center;
}

.headerTitle {
    font-size: 1.65rem;
    color: #fff;
    text-transform: capitalize;
}

.header nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header div {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.header button {
    min-width: 75px;
    text-align: center;
    letter-spacing: 0.35px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    color: #fff;
    padding: .5rem;
}

.userProfile {
    margin-right: 1rem;
}

.userProfile svg {
    font-size: 2.65rem;
    color: #fff;
}

.userProfile span {
    font-size: 0.875rem;
    color: #fff;
    letter-spacing: 0.45px;
}