.sideMenu {
    min-width: 275px;
    height: 100vh;
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
    padding: 2rem 0;
}

.projectTitle {
    color: var(--primary-color);
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.asideItems {
    list-style: none;
    cursor: pointer;
}

.sideMenu .asideItem {
    display: flex;
    align-items: center;
    border-right: 4px solid #1890FF;
    gap: 10px;
    padding: .5rem 1.75rem;
}

.asideItem {}

.asideItem p {
    color: #1890FF;
    font-size: 1.05rem;
    font-weight: 400;
}

.asideItem svg {
    font-size: 1.75rem;
}

/* ----------- Footer ( Logout Button) ---------- */

.sideMenu .asideItem:last-child {
    border: none;
    bottom: 2rem;
    position: fixed;
}