.sideMenu {
    min-width: 275px;
    height: 100vh;
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
    padding: 2rem 0;
}

.projectTitle {
    color: var(--primary-color);
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 2rem;
    letter-spacing: .5px;
}

.asideItems {
    list-style: none;
}

.asideItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .5rem 1.75rem;
    cursor: pointer;
    margin-bottom: 0.25rem;
}

.asideItem p {
    color: var(--primary-text-color);
    font-size: 0.875rem;
}

.asideItem svg {
    font-size: 1.15rem;
}

.asideItemTitle {
    padding: 1rem 1.75rem;
    font-size: .85rem;
    font-weight: 500;
    margin: .75rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addPlaylist {
    margin-left: auto;
    cursor: pointer;
}

/* For empty */
.empty {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.75rem;
    color: var(--secondary-text-color);
}

/* active Item */
.activeItem {
    color: #1890FF;
    border-right: 4px solid #1890FF;
}

/* ----------- Footer ( Logout Button) ---------- */

.sideMenu .asideItem:last-child {
    border: none;
    margin-bottom: 0;
    bottom: 2rem;
    position: fixed;
}